<footer>
  <div class="ui text container">
    <div class="ui stackable four column grid padded">
      <div class="four wide column">
        <h4>Columna 1</h4>
        <p></p>
      </div>
      <div class="four wide column">
        <h4>Columna 2</h4>
        <p></p>
      </div>
      <div class="four wide column">
        <h4>Columna 3</h4>
        <p></p>
      </div>
      <div class="four wide column">
        <h4>Columna 4</h4>
        <div class="ui grid three column container">
          <div class="column">
            <img class="centered ui small image" src="https://via.placeholder.com/100x100">
          </div>
          <div class="column">
            <img class="centered ui small image" src="https://via.placeholder.com/100x100">
          </div>
          <div class="column">
            <img class="centered ui small image" src="https://via.placeholder.com/100x100">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
