<header>
  <div class="ui text container">
    <div class="ui grid padded">
      <div class="column">
        <img class="centered ui small circular image" src="https://via.placeholder.com/250x250">
      </div>
    </div>
  </div>

  <div class="ui text container">
    <div class="ui stackable one column grid padded">
      <div class="padded one column">
        <h1 class="ui center aligned header">Money Xchange</h1>
      </div>
    </div>
  </div>
</header>
