<div class="block-calculator">
  <div class="ui text container">
    <form class="ui form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <div class="two fields">
          <div class="field ui huge input">
            <input type="tel" currencyMask [options]="{ prefix: 'US$ ', precision: 4 }" formControlName="usd">
          </div>
          <div class="field ui huge input">
            <input currencyMask [options]="{ prefix: '€ ', precision: 4 }" [(ngModel)]="eurResult" [ngModelOptions]="{standalone: true}" disabled="disabled">
          </div>
        </div>
        <button class="fluid huge ui button" [disabled]="myForm.invalid">Calculate</button>
      </div>
    </form>
  </div>
</div>
