/* You can add global styles to this file, and also import other style files */

// some vars
$lines-color: #b3b1a3;
$bg-color: #d2cfbc;

// wrap placeholder
%wrapper {
  background: $bg-color;
  padding: 40px 0;
  border-top: 4px solid $lines-color;
  border-bottom: 4px solid $lines-color;
}
